@*支援多個路由*@
@page "/note"
@page "/MyNotes"

<h3>我的記事</h3>

<table class="table">
    <thead>
    <tr>
        <th>事項</th>
        <th>修改</th>
        <th>刪除</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>
<div>
    <button class="btn btn-primary">新增</button>
</div>

@code {

}