@inject IJSRuntime _jsRuntime
@using BlazorAppWasmLab.Client.Interfaces
@using BlazorAppWasmLab.Client.Services
@implements IAsyncDisposable
@inject IEmployeeSummaryService _employeeSummaryService

<div id="@ContainerId"></div>

@code {

    [Parameter]
    public string? ContainerId { get; set; }

    [Parameter]
    public IEnumerable<EmployeeSummary>? Data { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _employeeGrowthChart = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", $"./js/src/employee-growth-chart-export.js?v={DateTime.Now}");
    // var data = await _employeeSummaryService.GetDataAsync();
        }
    }

    public async Task Render()
    {
        if (_employeeGrowthChart != null)
        {
            await _employeeGrowthChart.InvokeVoidAsync("employeeGrowthChart.render", new {Data, ContainerId});
        }
    }

    public async ValueTask DisposeAsync()
    {
        await (_employeeGrowthChart?.DisposeAsync() ?? ValueTask.CompletedTask);
    }

    private IJSObjectReference? _employeeGrowthChart;
}